<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894664895475-s40d1nf9329ukug1eopeetbdii4eg6eq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894664895475-s40d1nf9329ukug1eopeetbdii4eg6eq</string>
	<key>API_KEY</key>
	<string>AIzaSyBI6BA2HonNQqr0zdQy0jhw2Kl3PeFtYjk</string>
	<key>GCM_SENDER_ID</key>
	<string>894664895475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.StealthLanguageLearning</string>
	<key>PROJECT_ID</key>
	<string>stealth-language-learnin-be5b8</string>
	<key>STORAGE_BUCKET</key>
	<string>stealth-language-learnin-be5b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894664895475:ios:6b9ff43876130a56d5c086</string>
</dict>
</plist>